<div class="container m-5">
    <form class="m-2" [formGroup]="userRegisterForm" (ngSubmit)="addUserData()">

        <!-- Username -->
        <div class="mb-3">
            <label for="usrName" class="form-label">Username</label>
            <input type="text" class="form-control" name="usrName" id="usrName" formControlName="username"
                [class.is-valid]="username?.valid" [class.is-invalid]="username?.invalid">

            <!-- errors -->
            <div class="alert alert-danger" [hidden]="username?.valid || username?.untouched">
                <small *ngIf="username?.errors?.['required']">Username is Required</small>
                <small *ngIf="username?.errors?.['minlength']">Username must be at least 5 characters</small>
            </div>

        </div>

        <!-- Email Address -->
        <div class="mb-3">
            <label for="usrEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="usrEmail" id="usrEmail" formControlName="email"
                [class.is-valid]="email?.valid" [class.is-invalid]="email?.invalid">

            <!-- errors -->
            <div class="alert alert-danger" [hidden]="email?.valid || email?.untouched">
                <small *ngIf="email?.errors?.['required']">Email Address is Required</small>
            </div>
        </div>

        <!-- Phone -->
        <div formArrayName="phone">
            <div class="mb-3" *ngFor="let mobile of phone.controls ; let i= index">
                <label for="userMobile{{i+1}}" class="form-label">Phone</label>
                <input type="number" class="form-control" name="userMobile{{i+1}}" id="userMobile{{i+1}}"
                    [formControlName]="i" [class.is-valid]="phone.valid" [class.is-invalid]="phone.invalid">

                <!-- Buttons (add, remove) -->
                <div>
                    <button class="btn btn-success" (click)="addPhone()"
                        *ngIf="mobile.value&&i==phone.controls.length-1">+</button>
                    <button class="btn btn-success m-2" (click)="removePhone(i)"
                        *ngIf="mobile.value&&i==phone.controls.length-1" [hidden]="i==0">-</button>
                </div>

            </div>
        </div>


        <!-- Address -->
        <div formGroupName="address">
            Address
            <div class="mb-">
                <label for="usrCity" class="form-label">city</label>
                <input type="text" class="form-control" name="usrCity" id="usrCity" formControlName="city"
                    [class.is-valid]="address?.valid" [class.is-invalid]="address?.invalid">
            </div>
            <div class="mb-3">
                <label for="usrStreet" class="form-label">Street</label>
                <input type="text" class="form-control" name="usrStreet" id="usrStreet" formControlName="street"
                    [class.is-valid]="address?.valid" [class.is-invalid]="address?.invalid">
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Postal Code</label>
                <input type="text" class="form-control" name="code" id="code" formControlName="postalCode"
                    [class.is-valid]="address?.valid" [class.is-invalid]="address?.invalid">
            </div>
        </div>


        <!-- Password -->
        <div class="mb-3">
            <label for="usrPass" class="form-label">Password</label>
            <input type="password" class="form-control" name="usrPass" id="usrPass" formControlName="password"
                [class.is-valid]="password?.valid" [class.is-invalid]="password?.invalid">
            <!-- errors -->
            <div class="alert alert-danger" [hidden]="password?.valid || password?.untouched">
                <small *ngIf="password?.errors?.['required']">Password is Required</small>
                <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</small>
            </div>
        </div>

        <!-- Retype Passowrd -->
        <div class="mb-3">
            <label for="usrRePass" class="form-label">Retype Password</label>
            <input type="password" class="form-control" name="usrRePass" id="usrRePass" formControlName="retypePassword"
                [class.is-valid]="retypePassword?.valid" [class.is-invalid]="retypePassword?.invalid">
            <!-- errors -->
            <div class="alert alert-danger" [hidden]="retypePassword?.valid || retypePassword?.untouched">
                <small *ngIf="retypePassword?.errors?.['required']">Retype Password is Required</small>
                <small *ngIf="retypePassword?.errors?.['minlength']">Retype Password must be at least 6
                    characters</small>
            </div>
        </div>


        <!-- Day 8 -->
        <div class="btn-group my-3" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" formControlName="anyDay" name="anyDay" id="btnradio1" autocomplete="off"
              value="Any" (change)="updateValidation()">
            <label class="btn btn-success" for="btnradio1">Any Day</label>
            <input type="radio" class="btn-check" formControlName="anyDay" name="anyDay" id="btnradio2" autocomplete="off"
              value="specific" (change)="updateValidation()">
            <label class="btn btn-success" for="btnradio2">Specific Day</label>
          
          </div>
        
        
          <div class="mb-2" *ngIf="anyDay?.value == 'specific'">
            <label for="other">Specific Day: </label>
            <input type="text" name="other" id="other" formControlName="specificDay" class="form-control">
          </div>
          
        <br>
        <button type="submit" class="btn btn-success" [disabled]="userRegisterForm.invalid">Submit</button>

    </form>
</div>