<div class="CCBackground">
    <div class="outercontainer">
        <div class="card-wrapper"></div>
        <div class="formcontainer">
            <form action="">
                <label for=""><h3>Enter Your National ID</h3></label>
                <input #nid class="form-control" placeholder="xxxxxxxxxxxxxx" type="text">
                <br>
            </form>
        </div>
        <div class="text-right purchasebtn">
            <button class="btn btn-success" (click)="getBirthDate(nid.value)">Submit</button>
        </div>
        <div class="mt-2">
            {{NID | nationalID:''}}
        </div>
    </div>
</div>